@using MyApp.RazorComponents;

<h4>List Products</h4>
<nav class="navbar hstack gap-3 justify-content-end">
    <ActionButton Label="New"
                  Icon="bi bi-plus-lg"
                  HtmxAttributes=@(new HtmxAttributes("/products/register", "#main", "innerHTML")) />
</nav>
<Section>
    <Content>
        <div class="row mb-4">
            <div class="col">
                <SearchFilter Property="Name"
                              placeholder="Enter name"
                              HtmxAttributes=@(new HtmxAttributes("/products/list", "#results", "OuterHTML", "#results")) />

            </div>
        </div>
        <div id="results">
            <DataTable Items=@Results
                       Context="item">
                <TableHeader>
                    <th></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Unit</th>
                    <th>Price</th>
                    <th>Is Enabled</th>
                </TableHeader>
                <RowTemplate>
                    <td>
                        <div class="hstack gap-1">
                            <ActionLink Icon="bi bi-pencil"
                                        HtmxAttributes=@(new HtmxAttributes($"/products/{item.ProductId}/edit", "#main", "innerHTML")) />
                        </div>
                    </td>
                    <td>@item.ProductId</td>
                    <td>@item.Name</td>
                    <td>@item.Unit</td>
                    <td>@item.Price</td>
                    <td>@item.IsEnabled</td>
                </RowTemplate>
            </DataTable>
        </div>
    </Content>
</Section>
@code {
    [Parameter]
    public List<Product> Results { get; set; } = default!;
}
